@{
    ViewBag.Title = "İletişim";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4" style="color: #f68e56;">Bize Ulaşın</h2>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <h4>İletişim Bilgileri</h4>
                            <address>
                                <strong>Hemen Bilet Merkez Ofis</strong><br />
                                Atatürk Caddesi No:123<br />
                                İstanbul, 34000<br />
                                <abbr title="Telefon">Tel:</abbr> (0212) 555-0123
                            </address>

                            <address>
                                <strong>Müşteri Hizmetleri:</strong>
                                <a href="mailto:destek@hemenbilet.com">destek@hemenbilet.com</a><br />
                                <strong>Kurumsal:</strong>
                                <a href="mailto:info@hemenbilet.com">info@hemenbilet.com</a>
                            </address>
                        </div>
                        
                        <div class="col-md-6">
                            <h4>Çalışma Saatleri</h4>
                            <p>Pazartesi - Cuma: 09:00 - 18:00</p>
                            <p>Cumartesi: 10:00 - 14:00</p>
                            <p>Pazar: Kapalı</p>
                            
                            <h4 class="mt-4">Sosyal Medya</h4>
                            <div class="social-links">
                                <a href="#" class="btn btn-outline-primary">Facebook</a>
                                <a href="#" class="btn btn-outline-info">Twitter</a>
                                <a href="#" class="btn btn-outline-danger">Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>